<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>GoNES</string>
		<key>CFBundleExecutable</key>
		<string>MacOS/gones</string>
		<key>CFBundleIdentifier</key>
		<string>com.gabe565.gones</string>
		<key>CFBundleGetInfoString</key>
		<string>GoNES by gabe565</string>
		{{- with .Version }}
		{{- if ne . "beta" }}
		<key>CFBundleVersion</key>
		<string>{{ trimPrefix "v" . }}</string>
		<key>CFBundleShortVersionString</key>
		<string>{{ trimPrefix "v" . }}</string>
		{{- end }}
		{{- end }}
		<key>CFBundleIconFile</key>
		<string>GoNES.icns</string>
		<key>LSUIElement</key>
		<true/>
		<key>LSRequiresNativeExecution</key>
		<true/>
	</dict>
</plist>
